.div-register1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
     
    } 
    
    .div-register2 {
       
          width:400px;
          align-items: center;
          border-style: solid;
          border-width: 5px;
          border-color: #24303c;
    }
   
  .headercardregister{
   align-items: center;
   margin-left: 80px;
  }
  .matconten{
    width: 100%;
  }
  .actionsregister{
    align-items: center;
   margin-left: 100px;
  }
  
  
  
  .formregister{
    width: 380px;
  }
  .error,
  .validation {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
  }
  .error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
  }