.spacer {
    flex: 1 1 auto;
}
.container img{
    width: 100px;
    margin-left: 90px;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(241, 6, 6);
  }
  .example-card {
    max-width: 800px;
    margin: 0 auto;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  /* para la tabla*/
  button {
    margin-bottom: 14px;
  }
  
  table {
    width: 100%;
  }
  
  .main-div{
    width: 100%;
    text-align:center;
  }
  mat-grid-tile {
    max-height: 1000px;
  }
